.editor-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.editor-wrap .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrap:hover .button-format {
  opacity: 1;
}
